#box {
    width: 100px;
    height: 100px; 
    position: absolute; 
    left: 200px; 
    top: 200px; 
    background: gray;
    background-image: url("Photos/Twily.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}